body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  width: max-content;
  height: 400px;
  background: linear-gradient(#ffffff, #cecccc);
  padding: 1rem;
  margin: 5rem auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

ul {
  margin: 1rem;
  padding: 0;
  list-style-type: circle;
}

table thead th,
table tbody td {
  padding: 0.5rem;
}
